{% extends "master.html" %}
{% block title %}About Us{% endblock %}
{% block meta %}{% endblock %}
{% block css %}{% endblock %}
{% block js %}{% endblock %}
{% block banner %}
<div class="banner banner-template">
            <div class="container">
                <div class="title-header">
                    <h1>About Us</h1>
                    <h6 class="header-sub-title">Why Us?</h6>
                </div>
            </div>
            <div class="scroll-to mouse"><span></span></div>
            <div class="clip">
                <div class="bg bg-bg" style="background-image:url(/static/img/custom-bg-10.jpg)"></div>
            </div>
            <div class="overlay"></div>
        </div>
{% endblock %}
        
{% block maincontent %}



{% endblock %}s