{% extends "master.html" %}
{% block title %}Blogs{% endblock %}
{% block meta %}{% endblock %}
{% block css %}{% endblock %}
{% block js %}{% endblock %}
{% block banner %}
<div class="banner banner-template">
            <div class="container">
                <div class="title-header">
                    <h1>Blogs</h1>
                    <h6 class="header-sub-title">Have a Question for Us?</h6>
                </div>
            </div>
            <div class="scroll-to mouse"><span></span></div>
            <div class="clip">
                <div class="bg bg-bg" style="background-image:url(/static/img/custom-bg-10.jpg)"></div>
            </div>
            <div class="overlay"></div>
        </div>
{% endblock %}
        
{% block maincontent %}
<main class="main-blog start-block">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-md-9">
                        <div class="post">
                            <a class="post-img-link" href="single.html">
                                <img src="/static/img/post-img-9.jpg" alt="">
                            </a>

                            <div class="post-info">
                                <div class="post-date">
                                    05
                                    <span>FEB</span>
                                </div>
                                <div class="post-content">
                                    <h2 class="post-title"><a href="single.html">Standart Post Format</a></h2>

                                    <div class="post-info-row">
                                        <div class="post-info-item">
                                            <i class="fa fa-clock-o"></i>
                                            Posted at 18:00h
                                        </div>
                                        <div class="post-info-item">
                                            <i class="fa fa-folder-open-o"></i>
                                            in Design by Admin
                                        </div>
                                        <div class="post-info-item">
                                            <i class="fa fa-comments"></i>
                                            Comments
                                        </div>
                                        <div class="post-info-item share-item">
                                            <div class="share-box">
                                                <a href="#"><i class="fa fa-facebook"></i></a>
                                                <a href="#"><i class="fa fa-twitter"></i></a>
                                                <a href="#"><i class="fa fa-google"></i></a>
                                            </div>
                                            <i class="fa fa-share-square-o"></i>
                                            Share
                                        </div>
                                    </div>
                                    <p>Perspiciatis unde omnis iste natus doxes sit voluptatem accusantium doloremque la
                                        dantiumeaque ipsa quae ab illo veritatis et quasi architecto beatae vitae dicta
                                        unt explicabo.</p>
                                    <a class="button button-type-3-xs" href="single.html">Read more</a>
                                </div>
                            </div>
                        </div>
                        <div class="post">
                            <div class="swiper-container" data-autoplay="0" data-loop="1" data-speed="5000"
                                 data-center="0" data-slides-per-view="1">
                                <div class="swiper-wrapper ">
                                    <div class="swiper-slide">
                                        <a class="post-img-link" href="single.html">
                                            <img src="/static/img/post-img-10.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a class="post-img-link" href="single.html">
                                            <img src="/static/img/post-img-9.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a class="post-img-link" href="single.html">
                                            <img src="/static/img/post-img-11.jpg" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="pagination pagination-hide"></div>
                                <div class="sl-post-prev  swiper-arrow-left"><i class="fa fa-angle-left"></i></div>
                                <div class="sl-post-next  swiper-arrow-right"><i class="fa fa-angle-right"></i></div>
                            </div>
                            <div class="post-info">
                                <div class="post-date">
                                    05
                                    <span>FEB</span>
                                </div>
                                <div class="post-content">
                                    <h2 class="post-title"><a href="single.html">Gallery Post Format</a></h2>

                                    <div class="post-info-row">
                                        <div class="post-info-item">
                                            <i class="fa fa-clock-o"></i>
                                            Posted at 18:00h
                                        </div>
                                        <div class="post-info-item">
                                            <i class="fa fa-folder-open-o"></i>
                                            in Design by Admin
                                        </div>
                                        <div class="post-info-item">
                                            <i class="fa fa-comments"></i>
                                            Comments
                                        </div>
                                        <div class="post-info-item share-item">
                                            <div class="share-box">
                                                <a href="#"><i class="fa fa-facebook"></i></a>
                                                <a href="#"><i class="fa fa-twitter"></i></a>
                                                <a href="#"><i class="fa fa-google"></i></a>
                                            </div>
                                            <i class="fa fa-share-square-o"></i>
                                            Share
                                        </div>
                                    </div>
                                    <p>Perspiciatis unde omnis iste natus doxes sit voluptatem accusantium doloremque la
                                        dantiumeaque ipsa quae ab illo veritatis et quasi architecto beatae vitae dicta
                                        unt explicabo.</p>
                                    <a class="button button-type-3-xs" href="single.html">Read more</a>
                                </div>
                            </div>
                        </div>

                        <div class="post">
                            <a class="post-img-link" href="single.html">
                                <img src="/static/img/post-img-11.jpg" alt="">
                            </a>

                            <div class="post-info">
                                <div class="post-date">
                                    05
                                    <span>FEB</span>
                                </div>
                                <div class="post-content">
                                    <h2 class="post-title"><a href="single.html">Standart Post Format</a></h2>

                                    <div class="post-info-row">
                                        <div class="post-info-item">
                                            <i class="fa fa-clock-o"></i>
                                            Posted at 18:00h
                                        </div>
                                        <div class="post-info-item">
                                            <i class="fa fa-folder-open-o"></i>
                                            in Design by Admin
                                        </div>
                                        <div class="post-info-item">
                                            <i class="fa fa-comments"></i>
                                            Comments
                                        </div>
                                        <div class="post-info-item share-item">
                                            <div class="share-box">
                                                <a href="#"><i class="fa fa-facebook"></i></a>
                                                <a href="#"><i class="fa fa-twitter"></i></a>
                                                <a href="#"><i class="fa fa-google"></i></a>
                                            </div>
                                            <i class="fa fa-share-square-o"></i>
                                            Share
                                        </div>
                                    </div>
                                    <p>Perspiciatis unde omnis iste natus doxes sit voluptatem accusantium doloremque la
                                        dantiumeaque ipsa quae ab illo veritatis et quasi architecto beatae vitae dicta
                                        unt explicabo.</p>
                                    <a class="button button-type-3-xs" href="single.html">Read more</a>
                                </div>
                            </div>
                        </div>
                        <div class="post">
                            <div class="post-info">
                                <div class="post-date">
                                    05
                                    <span>FEB</span>
                                </div>
                                <div class="post-content">
                                    <h2 class="post-title"><a href="single.html">Audio Post Format</a></h2>

                                    <div class="post-info-row">
                                        <div class="post-info-item">
                                            <i class="fa fa-clock-o"></i>
                                            Posted at 18:00h
                                        </div>
                                        <div class="post-info-item">
                                            <i class="fa fa-folder-open-o"></i>
                                            in Design by Admin
                                        </div>
                                        <div class="post-info-item">
                                            <i class="fa fa-comments"></i>
                                            Comments
                                        </div>
                                        <div class="post-info-item share-item">
                                            <div class="share-box">
                                                <a href="#"><i class="fa fa-facebook"></i></a>
                                                <a href="#"><i class="fa fa-twitter"></i></a>
                                                <a href="#"><i class="fa fa-google"></i></a>
                                            </div>
                                            <i class="fa fa-share-square-o"></i>
                                            Share
                                        </div>
                                    </div>
                                    <audio src="mp3/mp3.mp3" controls="controls"></audio>
                                    <p>Perspiciatis unde omnis iste natus doxes sit voluptatem accusantium doloremque la
                                        dantiumeaque ipsa quae ab illo veritatis et quasi architecto beatae vitae dicta
                                        unt explicabo.</p>
                                    <a class="button button-type-3-xs" href="single.html">Read more</a>
                                </div>
                            </div>
                        </div>
                        <div class="post">
                            <div class="post-video">
                                <img src="img/post-img-12.jpg" alt="">
                                <a href="#" class="play"
                                   data-src="https://www.youtube.com/embed/UG6FhK96dBg?rel=0&amp;autoplay=1"></a>
                                <iframe class="video" src="about:blank"></iframe>
                            </div>
                            <div class="post-info">
                                <div class="post-date">
                                    05
                                    <span>FEB</span>
                                </div>
                                <div class="post-content">
                                    <h2 class="post-title"><a href="single.html">Video Post Format</a></h2>

                                    <div class="post-info-row">
                                        <div class="post-info-item">
                                            <i class="fa fa-clock-o"></i>
                                            Posted at 18:00h
                                        </div>
                                        <div class="post-info-item">
                                            <i class="fa fa-folder-open-o"></i>
                                            in Design by Admin
                                        </div>
                                        <div class="post-info-item">
                                            <i class="fa fa-comments"></i>
                                            Comments
                                        </div>
                                        <div class="post-info-item share-item">
                                            <div class="share-box">
                                                <a href="#"><i class="fa fa-facebook"></i></a>
                                                <a href="#"><i class="fa fa-twitter"></i></a>
                                                <a href="#"><i class="fa fa-google"></i></a>
                                            </div>
                                            <i class="fa fa-share-square-o"></i>
                                            Share
                                        </div>
                                    </div>
                                    <p>Perspiciatis unde omnis iste natus doxes sit voluptatem accusantium doloremque la
                                        dantiumeaque ipsa quae ab illo veritatis et quasi architecto beatae vitae dicta
                                        unt explicabo.</p>
                                    <a class="button button-type-3-xs" href="single.html">Read more</a>
                                </div>
                            </div>
                        </div>
                        <div class="post">
                            <div class="post-info">
                                <div class="post-date">
                                    05
                                    <span>FEB</span>
                                </div>
                                <div class="post-content">
                                    <div class="post-blockquote">
                                        <blockquote>
                                            Qoluptatem accusantium doloremque laudantium totam rem aperiam, eaque ipsa
                                            quae ab illo inventore veritatis et quasi architecto beatae
                                        </blockquote>
                                        <cite>
                                            Piter Jackson
                                        </cite>
                                    </div>
                                    <div class="post-info-row">
                                        <div class="post-info-item">
                                            <i class="fa fa-clock-o"></i>
                                            Posted at 18:00h
                                        </div>
                                        <div class="post-info-item">
                                            <i class="fa fa-folder-open-o"></i>
                                            in Design by Admin
                                        </div>
                                        <div class="post-info-item">
                                            <i class="fa fa-comments"></i>
                                            Comments
                                        </div>
                                        <div class="post-info-item share-item">
                                            <div class="share-box">
                                                <a href="#"><i class="fa fa-facebook"></i></a>
                                                <a href="#"><i class="fa fa-twitter"></i></a>
                                                <a href="#"><i class="fa fa-google"></i></a>
                                            </div>
                                            <i class="fa fa-share-square-o"></i>
                                            Share
                                        </div>
                                    </div>
                                    <a class="button button-type-3-xs" href="single.html">Read more</a>
                                </div>
                            </div>
                        </div>
                        <div class="post">
                            <a class="post-img-link" href="single.html">
                                <img src="img/post-img-13.jpg" alt="">
                            </a>

                            <div class="post-info">
                                <div class="post-date">
                                    05
                                    <span>FEB</span>
                                </div>
                                <div class="post-content">
                                    <h2 class="post-title"><a href="single.html">Standart Post Format</a></h2>

                                    <div class="post-info-row">
                                        <div class="post-info-item">
                                            <i class="fa fa-clock-o"></i>
                                            Posted at 18:00h
                                        </div>
                                        <div class="post-info-item">
                                            <i class="fa fa-folder-open-o"></i>
                                            in Design by Admin
                                        </div>
                                        <div class="post-info-item">
                                            <i class="fa fa-comments"></i>
                                            Comments
                                        </div>
                                        <div class="post-info-item share-item">
                                            <div class="share-box">
                                                <a href="#"><i class="fa fa-facebook"></i></a>
                                                <a href="#"><i class="fa fa-twitter"></i></a>
                                                <a href="#"><i class="fa fa-google"></i></a>
                                            </div>
                                            <i class="fa fa-share-square-o"></i>
                                            Share
                                        </div>
                                    </div>
                                    <p>Perspiciatis unde omnis iste natus doxes sit voluptatem accusantium doloremque la
                                        dantiumeaque ipsa quae ab illo veritatis et quasi architecto beatae vitae dicta
                                        unt explicabo.</p>
                                    <a class="button button-type-3-xs" href="single.html">Read more</a>
                                </div>
                            </div>
                        </div>
                        <div class="post-pagination">
                            <ul class="post-pagination-list clearfix">
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><span>...</span></li>
                                <li><a href="#">9</a></li>
                            </ul>
                            <a class="next-page" href="#"><i class="fa fa-chevron-right"></i></a>
                            <a class="prev-page" href="#"><i class="fa fa-chevron-left"></i></a>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-3">
                        <div class="widget">
                            <h3 class="middle-title">Recent posts</h3>
                            <ul class="widget-list">
                                <li><a href="single.html">Unde omnis iste natus sit voluptatem</a></li>
                                <li><a href="single.html">Doloremque laudantium totam rem</a></li>
                                <li><a href="single.html">Aperiam, eaque ipsa quae ab illo</a></li>
                                <li><a href="single.html">Inventore veritatis et quasi architecto</a></li>
                                <li><a href="single.html">Beatae vitae dicta sunt explicabo</a></li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h3 class="middle-title">CAtegories</h3>
                            <ul class="widget-list">
                                <li><a href="single.html">Branding  <span>- 7 </span></a></li>
                                <li><a href="single.html">Design   <span>- 15 </span></a></li>
                                <li><a href="single.html">Development   <span>- 3 </span></a></li>
                                <li><a href="single.html">Photography  <span>- 7 </span></a></li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h3 class="middle-title">Tags</h3>
                            <div class="tags-box clearfix">
                                <a class="tags button button-type-3-xs" href="single.html">TRENDS</a>
                                <a class="tags button button-type-3-xs" href="single.html">ART</a>
                                <a class="tags button button-type-3-xs" href="single.html">DEVELOPMENT</a>
                                <a class="tags button button-type-3-xs" href="single.html">ARTICLES </a>
                                <a class="tags button button-type-3-xs" href="single.html">DIGITAL</a>
                                <a class="tags button button-type-3-xs" href="single.html">INFORMATION</a>
                                <a class="tags button button-type-3-xs" href="single.html">Design</a>
                                <a class="tags button button-type-3-xs" href="single.html">BRANDING</a>
                            </div>
                        </div>
                        <div class="widget">
                            <h3 class="middle-title">ARCHIVE</h3>
                            <ul class="widget-list">
                                <li><a href="single.html">February 2015</a></li>
                                <li><a href="single.html">January 2015</a></li>
                                <li><a href="single.html">December 2014</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </main>
{% endblock %}