{% extends "master.html" %}
{% block title %}Contact Us{% endblock %}
{% block meta %}{% endblock %}
{% block css %}{% endblock %}
{% block js %}{% endblock %}
{% block banner %}
<div class="banner banner-template">
            <div class="container">
                <div class="title-header">
                    <h1>Get in touch with us</h1>
                    <h6 class="header-sub-title">Have a Question for Us?</h6>
                </div>
            </div>
            <div class="scroll-to mouse"><span></span></div>
            <div class="clip">
                <div class="bg bg-bg" style="background-image:url(/static/img/custom-bg-10.jpg)"></div>
            </div>
            <div class="overlay"></div>
        </div>
{% endblock %}
        
{% block maincontent %}

        <section class="section">
                <div class="container">
                    
                    <div class="blockquote-row padding-bottom-35">
                        
                        <blockquote class="blockquote blockquote-type-1">Hey, so you decided to contact us! Please fill in the form below and we’ll get back to you in 24 hours, except on weekends. in that case, we’ll respond Monday morning.</blockquote>
                        </div>
                </div>
            </section>

        <section class="section contact-section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="title-block title-build">
                            <h2 class="title">Contact Form</h2>
                            <div class="sub-title">
                                Perspiciatis unde omnis iste natus doxes sit voluptatem.
                            </div>
                            <form class="contact-us"  action="#">
                                <input type="text" placeholder="Full  Name"   required/>
                                <input type="email" placeholder="Email Address"  required/>
                                <textarea placeholder="Your Message" ></textarea>
                                <input class="submit" type="submit" value="Send message"/>
                            </form>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="title-block title-build">
                            <h2 class="title">OUR Company</h2>
                            <div class="sub-title">
                                Natus doxes sit voluptatemaccusantium doloremque.
                            </div>
                        </div>
                        
                        <ul class="ftr-list">
                            <li><i class="fa fa-map-marker"></i><span>Address: 58911 Lepzig Hore, 85000 Vienna, Austria</span></li>
                            <li><i class="fa fa-phone"></i><span>Telephones:</span> <a href="tel:+1777553221"> +1 777 55-32-21</a></li>
                            <li><i class="fa fa-envelope-o"></i><span>E-mail:</span> <a href="mailto:contacts@miracle.com">contacts@miracle.com</a></li>
                            <li><i class="fa fa-skype"></i><span>Skype:</span> <a href="tel:angelotours"> angelotours</a></li>
                        </ul>
                        <div class="ftr-social">
                            <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
                            <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
                            <a target="_blank" href="#"><i class="fa fa-google"></i></a>
                            
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="title-block title-build">
                            <h2 class="title">OUR Company</h2>
                            <div class="sub-title">
                                Natus doxes sit voluptatemaccusantium doloremque.
                            </div>
                        </div>
                        
                        <ul class="ftr-list">
                            <li><i class="fa fa-map-marker"></i><span>Address: 58911 Lepzig Hore, 85000 Vienna, Austria</span></li>
                            <li><i class="fa fa-phone"></i><span>Telephones:</span> <a href="tel:+1777553221"> +1 777 55-32-21</a></li>
                            <li><i class="fa fa-envelope-o"></i><span>E-mail:</span> <a href="mailto:contacts@miracle.com">contacts@miracle.com</a></li>
                            <li><i class="fa fa-skype"></i><span>Skype:</span> <a href="tel:angelotours"> angelotours</a></li>
                        </ul>
                        <div class="ftr-social">
                            <div class="ftr-social">
                            <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
                            <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
                            <a target="_blank" href="#"><i class="fa fa-google"></i></a>
                            
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
<div class="map-container map-container-type-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3504.7174369001027!2d77.24982331500524!3d28.548211694643225!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce3c563403787%3A0xf67181153a917824!2sMeghdoot+Building!5e0!3m2!1sen!2sin!4v1452532213693" height="450" frameborder="0" style="border:0;width:100%;" allowfullscreen></iframe>
        </div>
{% endblock %}