{% extends "master.html" %}
{% block title %}Home{% endblock %}
{% block meta %}{% endblock %}
{% block css %}{% endblock %}
{% block js %}{% endblock %}

{% block banner %}
<div class="banner full-height-banner banner-type-3 build-slider" >
            <div class="swiper-container full-height-slider"  data-autoplay="0" data-loop="1" data-speed="500" data-center="0" data-slides-per-view="1">
                <div class="swiper-wrapper ">
                    <div class="swiper-slide full-height-slide" style="background-image: url('/static/img/build-bg.jpg')">
                        <div class="overlay overlay-lg"></div>
                        <div class="container">
                            <div class="center center-left">
                                <h2 class="slide-title">Welcome to FGM Ventures<br>
                                    excellent choice for insurance</h2>
                                <div class="slider-sub-title">FGM Ventures is best solution for your insurance</div>
                                <div class="button-row">
                                    <a class="button-type-4" href="#">MOre about us</a>
                                    <a class="button-type-5" href="#">check our features</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide full-height-slide" style="background-image: url('/static/img/build-bg2.jpg')">
                        <div class="overlay overlay-lg"></div>
                        <div class="container">
                            <div class="center center-left">
                                <h2 class="slide-title">Welcome to FGM Ventures<br>
                                    excellent choice for insurance</h2>
                                <div class="slider-sub-title">FGM Ventures is best solution for your insurance</div>
                                <div class="button-row">
                                    <a class="button-type-4" href="#">MOre about us</a>
                                    <a class="button-type-5" href="#">check our features</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide full-height-slide" style="background-image: url('/static/img/build-bg3.jpg')">
                        <div class="overlay overlay-lg"></div>
                        <div class="container">
                            <div class="center center-left">
                                <h2 class="slide-title">Welcome to FGM Ventures<br>
                                    excellent choice for insurance</h2>
                                <div class="slider-sub-title">FGM Ventures is best solution for your insurance</div>
                                <div class="button-row">
                                    <a class="button-type-4" href="#">MOre about us</a>
                                    <a class="button-type-5" href="#">check our features</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pagination pagination-white pagination-bottom  "></div>
                <div class="nav-slider-min nav-slider-min-left arrow-type-1 swiper-arrow-left"><i class="fa fa-angle-left"></i></div>
                <div class="nav-slider-min nav-slider-min-right  arrow-type-1 swiper-arrow-right"><i class="fa fa-angle-right"></i></div>
            </div>
        </div>
<div class="blocks">
            <div class="container clearfix">
                <div class="block">
                    <div class="block-inner block-gym " style="background-image:url(/static/img/gym-4.jpg)">
                            <h3><a href="#"><span>Loan Section</span></a></h3>
                            <p>A very important criterion to be kept in mind while taking a Home Loan is the Tax Benefit on Home Loan. Repayment of the Principal Amount and Interest on Home Loan</p>
                            <div class="gym-price" style="color:#fab524;">Section 24, 80EE and 80C</div>
                    </div>
                </div>
                <div class="block">
                    <div class="block-inner block-gym" style="background-image:url(/static/img/gym-5.jpg)">
                            <h3><a href="#">Insurance Section</a></h3>
                            <p>The insurance policy is a contract between the insurer and the insured, known as the policyholder, which determines the claims which the insurer is legally required to pay.</p>
                            <div class="gym-price" style="color:#fab524;">To meet specific needs</div>
                    </div>
                </div>
                <div class="block">
                    <div class="block-inner block-gym" style="background-image:url(/static/img/gym-6.jpg)">
                            <h3><a href="#">Mutual Funds</a></h3>
                            <p>A mutual fund is a professionally managed investment fund that pools money from many investors to purchase securities.While there is no legal definition of the term.</p>
                            <div class="gym-price" style="color:#fab524;">Reduced Risk</div>
                    </div>
                </div>
                <div class="block">
                    <div class="block-inner block-gym" style="background-image:url(/static/img/gym-7.jpg)">
                            <h3><a href="#">Excellence Support</a></h3>
                            <p>FGM Ventures mission is to be India’s largest roadside assistance service provider and make it accessible at a call. Car Breakdown Recovery or Any Mechanical Breakdown</p>
                            <div class="gym-price" style="color:#fab524;">24X7 Hours Support</div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}
        
{% block maincontent %}


<section class="section  white-section">
            <div class="container container-front">
                <div class="title-block  title-build">
                    <h2 class="title ">Our services</h2>
                    <div class="sub-title">
                        Our theme it is exelent choice for your company. High up your business.
                    </div>
                </div>
                <div class="row row-services orange-icon">
                    <div class="col-md-4 col-sm-6  icon-style icon-style-2">
                        <span class="icon-tools"></span>
                        <h3 class="middle-title title-no-line ">DESIGN AND BUILD</h3>
                        <p>Perspiciatis unde omnis iste natus doxes sit voluptatem accusantium doloremque la dantiumeaque ipsa
                            quae ab illo.</p>
                    </div>
                    <div class="col-md-4 col-sm-6 icon-style icon-style-2">
                        <span class=" icon-layers"></span>
                        <h3 class="middle-title title-no-line ">PAINTING work</h3>
                        <p>Perspiciatis unde omnis iste natus doxes sit voluptatem accusantium doloremque la dantiumeaque ipsa
                            quae ab illo.</p>
                    </div>
                    <div class="col-md-4 col-sm-6 icon-style icon-style-2">
                        <span class=" icon-lightbulb"></span>
                        <h3 class="middle-title title-no-line ">House Renovation</h3>
                        <p>Perspiciatis unde omnis iste natus doxes sit voluptatem accusantium doloremque la dantiumeaque ipsa
                            quae ab illo.</p>
                    </div>
                    <div class="col-md-4 col-sm-6 icon-style icon-style-2">
                        <span class=" icon-global"></span>
                        <h3 class="middle-title title-no-line ">CONSTRUCTION MANAGEMENT</h3>
                        <p>Perspiciatis unde omnis iste natus doxes sit voluptatem accusantium doloremque la dantiumeaque ipsa
                            quae ab illo.</p>
                    </div>
                    <div class="col-md-4 col-sm-6 icon-style icon-style-2">
                        <span class="icon-key"></span>
                        <h3 class="middle-title title-no-line ">General Contracting</h3>
                        <p>Perspiciatis unde omnis iste natus doxes sit voluptatem accusantium doloremque la dantiumeaque ipsa
                            quae ab illo.</p>
                    </div>
                    <div class="col-md-4 col-sm-6 icon-style icon-style-2">
                        <span class=" icon-expand"></span>
                        <h3 class="middle-title title-no-line ">Bulding consult</h3>
                        <p>Perspiciatis unde omnis iste natus doxes sit voluptatem accusantium doloremque la dantiumeaque ipsa
                            quae ab illo.</p>
                    </div>
                </div>
            </div>
            <div class="clip">
                <div class="bg bg-bg" style="background-image:url(/static/img/custom-bg-14.jpg)"></div>
            </div>
            <div class="overlay"></div>
         </section>

<div class="section">
            <div class="container a-info-container">
                <div class="title-block title-gym">
                    <h2 class="title ">Recent News</h2>
                    <div class="sub-title">
                        There are many variations of passages of  available, but the majority
                    </div>
                </div>
                <div class="row medical-news sport-news">
                    <div class="col-sm-6 col-md-3 clone ">
                        <div  class="latest-post">
                            <a href="single.html" class="latest-post-link">
                                <img class="img-responsive" src="/static/img/sport-news.png" alt="">
                                <div class="post-layer">
                                    <span class="post-l-ico">
                                        <i class="fa fa-bars"></i>
                                    </span>
                                </div>
                            </a>
                            <h3 class="l-post-title"><a href="single.html">Sed do eiusmod tempor</a></h3>
                            <div class="l-post-info">
                                <a href="#"><i class="fa fa-calendar"></i> May 10, 2015</a>
                            </div>
                            <p>Perspiciatis unde omnis iste natus doxes sit voluptatem accusantium</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 clone">
                        <div  class="latest-post">
                            <a href="single.html" class="latest-post-link">
                                <img class="img-responsive" src="/static/img/sport-news1.png" alt="">
                                <div class="post-layer">
                                    <span class="post-l-ico">
                                        <i class="fa fa-bars"></i>
                                    </span>
                                </div>
                            </a>
                            <h3 class="l-post-title"><a href="single.html">Qncididunt ut labore et dolore </a></h3>
                            <div class="l-post-info">
                                <a href="#"><i class="fa fa-calendar"></i> May 10, 2015</a>
                            </div>
                            <p>Perspiciatis unde omnis iste natus doxes sit voluptatem accusantium</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 clone">
                        <div  class="latest-post">
                            <a href="single.html" class="latest-post-link">
                                <img class="img-responsive" src="/static/img/sport-news2.png" alt="">
                                <div class="post-layer">
                                    <span class="post-l-ico">
                                        <i class="fa fa-bars"></i>
                                    </span>
                                </div>
                            </a>
                            <h3 class="l-post-title"><a href="single.html">Sed do eiusmod tempor  </a></h3>
                            <div class="l-post-info">
                                <a href="#"><i class="fa fa-calendar"></i> May 10, 2015</a>
                            </div>
                            <p>Perspiciatis unde omnis iste natus doxes sit voluptatem accusantium</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 clone">
                        <div  class="latest-post">
                            <a href="single.html" class="latest-post-link">
                                <img class="img-responsive" src="/static/img/sport-news3.png" alt="">
                                <div class="post-layer">
                                    <span class="post-l-ico">
                                        <i class="fa fa-bars"></i>
                                    </span>
                                </div>
                            </a>
                            <h3 class="l-post-title"><a href="single.html">Dolore magna aliqua</a></h3>
                            <div class="l-post-info">
                                <a href="#"><i class="fa fa-calendar"></i> May 10, 2015</a>
                            </div>
                            <p>Perspiciatis unde omnis iste natus doxes sit voluptatem accusantium</p>
                        </div>
                    </div>
                </div>
                <div class="show-row text-center">
                    <a class="gym-btn button-type-4 add-more"  href="#">show more posts</a>
                </div>
            </div>
        </div>
<section class="section section-grey">
            <div class="container">
                <div class="title-block title-build">
                    <h2 class="title ">Our Lineage</h2>
                    <div class="sub-title">
                        Partners, We Work With.
                    </div>
                </div>
                <div class="swiper-container client-slider" data-autoplay="0" data-loop="1" data-speed="500" data-center="0" data-slides-per-view="responsive" data-xs-slides="2" data-sm-slides="3" data-md-slides="4" data-lg-slides="5" data-add-slides="6" >
                    <div class="swiper-wrapper ">
                        <div class="swiper-slide" >
                            <a href="#"><img src="/static/img/client-7.png" alt=""></a>
                        </div>
                        <div class="swiper-slide" >
                            <a href="#"><img src="/static/img/client-8.png" alt=""></a>
                        </div>
                        <div class="swiper-slide" >
                            <a href="#"><img src="/static/img/client-9.png" alt=""></a>
                        </div>
                        <div class="swiper-slide" >
                            <a href="#"><img src="/static/img/client-10.png" alt=""></a>
                        </div>
                        <div class="swiper-slide" >
                            <a href="#"><img src="/static/img/client-11.png" alt=""></a>
                        </div>
                        <div class="swiper-slide" >
                            <a href="#"><img src="/static/img/client-12.png" alt=""></a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#"><img src="/static/img/client-9.png" alt=""></a>
                        </div>
                    </div>
                    <div class="pagination pagination-hide "></div>
                </div>
            </div>
        </section>
<section class="section">
            <div class="container">
                <div class="title-block title-build">
                    <h2 class="title ">SIGN UP NEWSLETTERs</h2>
                </div>
                <form action="http://demo.freshface.net/html/h-sonic/" class="sign-build clearfix">
                    <input type="email" class="sb-email" required placeholder="Enter your email here to register in our newsletter"/>
                    <input type="button" class="sb-submit" value="Subscribe" style="background-color: #dc3c46;"/>
                </form>
            </div>
        </section>

{% endblock %}
