{% extends "master.html" %}
{% block title %}Project Loan{% endblock %}
{% block meta %}{% endblock %}
{% block css %}{% endblock %}
{% block js %}{% endblock %}
{% block banner %}
        <div class="banner banner-template">
            <div class="container">
                <div class="title-header">
                    <h1>Project loan</h1>
                    <h6 class="header-sub-title">Use Our Awesome & Usefull Shortcodes</h6>
                </div>
            </div>
            <div class="scroll-to mouse"><span></span></div>
            <div class="clip">
                <div class="bg bg-bg" style="background-image:url(/static/img/custom-bg-10.jpg)"></div>
            </div>
            <div class="overlay"></div>
        </div>
{% endblock %}

{% block maincontent %}
         <main class="main-blog start-block">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-md-9">

                        <article class="single-article">
                            <div class="swiper-container" data-autoplay="1" data-loop="1" data-speed="6000" data-theme="true"
                                 data-center="0" data-slides-per-view="1">
                                <div class="swiper-wrapper ">
                                    <div class="swiper-slide">
                                        <a class="post-img-link" href="single.html">
                                            <img src="/static/img/post-img-10.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a class="post-img-link" href="single.html">
                                            <img src="/static/img/post-img-9.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a class="post-img-link" href="single.html">
                                            <img src="/static/img/post-img-11.jpg" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="pagination pagination-hide"></div>
                                <div class="sl-post-prev  swiper-arrow-left"><i class="fa fa-angle-left"></i></div>
                                <div class="sl-post-next  swiper-arrow-right"><i class="fa fa-angle-right"></i></div>
                            </div>

                            <h1 class="single-title">blog post example</h1>

                            <div class="post-info-row">
                                <div class="post-info-item">
                                    <i class="fa fa-clock-o"></i>
                                    Posted at 18:00h
                                </div>
                                <div class="post-info-item">
                                    <i class="fa fa-folder-open-o"></i>
                                    in Design by Admin
                                </div>
                                <div class="post-info-item">
                                    <i class="fa fa-comments"></i>
                                    Comments
                                </div>
                                <div class="post-info-item share-item">
                                    <div class="share-box type-2">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-google"></i></a>
                                    </div>
                                    <i class="fa fa-share-square-o"></i>
                                    Share
                                </div>
                            </div>
                            <p>Perspiciatis unde omnis iste natus doxes sit voluptatem accusantium doloremque la
                                dantiumeaque ipsa quae ab illo veritatis et quasi architecto beatae vitae dicta unt
                                explicabo. Nemo enim ipsam voluptatemuia voluptas sit aspernatur aut odit. Fugit, sed
                                quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. </p>

                            <p>Unde omnis iste natus doxes sit voluptatem accusantium doloremque la dantiumeaque ipsa
                                quae ab illo veritatis et quasi architecto beatae vitae dicta unt explicabo. </p>
                            <blockquote>
                                Qoluptatem accusantium doloremque laudantium totam rem aperiam, eaque ipsa quae ab illo
                                inventore veritatis et quasi architecto beatae
                            </blockquote>
                            <p>Doxes sit voluptatem accusantium doloremque la dantiumeaque ipsa quae ab illo veritatis
                                et quasi architecto beatae vitae dicta unt explicabo. Nemo enim ipsam voluptatemuia
                                voluptas sit aspernatur aut odit. Fugit, sed quia consequuntur magni dolores eos qui
                                ratione voluptatem sequi nesciunt. </p>

                            <h2>A Large Sub-Heading</h2>

                            <p> Doxes sit voluptatem accusantium doloremque la dantiumeaque ipsa quae ab illo veritatis
                                et quasi architecto beatae vitae dicta unt explicabo. Nemo enim ipsam voluptatemuia
                                voluptas sit aspernatur aut odit. Fugit, sed quia consequuntur magni dolores eos qui
                                ratione voluptatem sequi nesciunt. </p>

                            <p>Nemo enim ipsam voluptatemuia voluptas sit aspernatur aut odit. Fugit, sed quia
                                consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>

                            <h3>A Small Sub-Heading</h3>

                            <p>Doxes sit voluptatem accusantium doloremque la dantiumeaque ipsa quae ab illo veritatis
                                et quasi architecto beatae vitae dicta unt explicabo. Nemo enim ipsam voluptatemuia
                                voluptas sit aspernatur aut odit. Fugit, sed quia consequuntur magni dolores eos qui
                                ratione voluptatem sequi nesciunt. </p>
                            <ul>
                                <li><i class="fa fa-check"></i>Doloremque la dantiumeaque ipsa quae</li>
                                <li><i class="fa fa-check"></i>Veritatis et quasi architecto beatae</li>
                                <li><i class="fa fa-check"></i>Nemo enim ipsam voluptatemuia voluptas</li>
                                <li><i class="fa fa-check"></i>Aspernatur aut odit. Fugit, sed quia</li>
                            </ul>
                            <p>Qemo enim ipsam voluptatemuia voluptas sit aspernatur aut odit. Fugit, sed quia
                                consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Mo enim ipsam
                                voluptatemuia voluptas sit aspernatur aut odit. Fugit, sed quia consequuntur magni
                                dolores eos qui ratione voluptatem sequi nesciunt. </p>
                            <div class="article-info article-info-tag">
                                <h3>Tags: </h3>
                                <a class="tag-link" href="#">Portfolio</a>,
                                <a class="tag-link" href="#">Design</a>,
                                <a class="tag-link" href="#">Corporate</a>,
                                <a class="tag-link" href="#">Trends</a>
                            </div>
                            
                        </article>
                        
                    </div>
                    <div class="col-sm-4 col-md-3">
                        <div class="widget">
                            
                          <script>
                          (function() {
                            var cx = '006428561035115286562:bwckrcti2z0';
                            var gcse = document.createElement('script');
                            gcse.type = 'text/javascript';
                            gcse.async = true;
                            gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                                '//cse.google.com/cse.js?cx=' + cx;
                            var s = document.getElementsByTagName('script')[0];
                            s.parentNode.insertBefore(gcse, s);
                          })();
                        </script>
                        <gcse:search></gcse:search>
                            </div>
                        <div class="widget">
                            <h3 class="middle-title">Recent posts</h3>
                            <ul class="widget-list">
                                <li><a href="single.html">Unde omnis iste natus sit voluptatem</a></li>
                                <li><a href="single.html">Doloremque laudantium totam rem</a></li>
                                <li><a href="single.html">Aperiam, eaque ipsa quae ab illo</a></li>
                                <li><a href="single.html">Inventore veritatis et quasi architecto</a></li>
                                <li><a href="single.html">Beatae vitae dicta sunt explicabo</a></li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h3 class="middle-title">CAtegories</h3>
                            <ul class="widget-list">
                                <li><a href="single.html">Branding  <span>- 7 </span></a></li>
                                <li><a href="single.html">Design   <span>- 15 </span></a></li>
                                <li><a href="single.html">Development   <span>- 3 </span></a></li>
                                <li><a href="single.html">Photography  <span>- 7 </span></a></li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h3 class="middle-title">Tags</h3>
                            <div class="tags-box clearfix">
                                <a class="tags button button-type-3-xs" href="single.html">TRENDS</a>
                                <a class="tags button button-type-3-xs" href="single.html">ART</a>
                                <a class="tags button button-type-3-xs" href="single.html">DEVELOPMENT</a>
                                <a class="tags button button-type-3-xs" href="single.html">ARTICLES </a>
                                <a class="tags button button-type-3-xs" href="single.html">DIGITAL</a>
                                <a class="tags button button-type-3-xs" href="single.html">INFORMATION</a>
                                <a class="tags button button-type-3-xs" href="single.html">Design</a>
                                <a class="tags button button-type-3-xs" href="single.html">BRANDING</a>
                            </div>
                        </div>
                        <div class="widget">
                            <h3 class="middle-title">ARCHIVE</h3>
                            <ul class="widget-list">
                                <li><a href="single.html">February 2015</a></li>
                                <li><a href="single.html">January 2015</a></li>
                                <li><a href="single.html">December 2014</a></li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h3 class="middle-title">WELCOME</h3>
                            <p>
                                We are inviting you to fully explore our website. Our stringent code of ethics places the client’s needs above all others and demands uncompromising integrity in every aspect of our business.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </main>
{% endblock %}